VITE_API_URL=http://127.0.0.1:5000

# Frontend Environment Variables
VITE_KEYCLOAK_URL=http://127.0.0.1:8080
VITE_KEYCLOAK_REALM=chatbot_keycloak_integration
VITE_KEYCLOAK_CLIENT_ID=test_client

VITE_GOOGLE_MAPS_API_KEY=AIzaSy...
