FlagEmbedding
GitPython
Jinja2
PySide6
PyYAML
Requests
annotated_types
cffi
datasets
docstring_parser
fastapi
httpx
huggingface_hub
instructor
matplotlib
mistral_common
numpy
openai
packaging
pandas
prometheus_fastapi_instrumentator
pydantic
pydantic-settings
pytest
qdrant-client
redis
safetensors
seaborn
sentence_transformers
sentencepiece
starlette
tabulate
tenacity
torch
tqdm
transformers<4.52
typer
typing_extensions
uvicorn
wget
