PyJWT
PyMuPDF
asyncpg
bcrypt
celery
docling
fastapi
httpx
minio
nltk
prometheus_fastapi_instrumentator
pydantic
pydantic-settings
qdrant-client
redis
starlette
tenacity
tiktoken
uvicorn
python-multipart
