Pillow
PyMuPDF
asyncpg
celery
docling
fastapi
httpx
minio
nltk
openpyxl
prometheus_fastapi_instrumentator
pydantic
pydantic-settings
pytesseract
pytest
python-docx
qdrant-client
redis
tenacity
tiktoken
unstructured
uvicorn
python-jose
python-multipart
